.btn,
.form-control,
.input-group-addon,
.dropdown-menu,
.navbar-default,
.container .jumbotron,
.alert,
.well,
.panel,
.panel-heading,
.modal-content {
	border-radius: 0px;
}
@media (min-width:768px) {
	#customer-search {
		width: 300px;
	}
}
#customer-search-result {
	display: none;
	position: fixed;
	z-index: 2;
	background-color: #FFF;
	border: 1px solid #CCC;
	margin: 0px;
	padding: 0px;
}
#customer-search-result ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#customer-search-result  ul li {
	padding: 5px;
}
#customer-search-result  ul li:hover {
	background-color: #DDD;
	cursor: pointer;
}
#customer-search-result a {
	text-decoration: none;
}
.subtitle {
	color: #AAA;
}
.avatar {
	width: 130px;
	height: 130px;
	border: 1px solid #DDD;
}
